@import "./reset.css";



.container {
    width: 1280px;
    height: 1210px;
    margin: 0 auto;
}

.header {
    display: flex;
    flex-direction: column;
    width: 1280px;
    height: 190px;
    margin-top: 25px;
}

.header_logo{
    width: 335px;
    
    font-family: 'Roboto', sans-serif;
    font-size: 80px;
    line-height: 94px;
    display: inline;

}

.header_logo_link {
    text-decoration: none;
}

.header_logo_ra {
    color: black;
    margin-right: -20px;
}

.header_logo_mda {
    color: #4BCAFF;
}

.header_nav {
    width: 1280px;
    height: 72px;
    margin-top: 38px;
    background-color: #35444F;
    display: flex;
    justify-content: center;
}

.header_nav_list {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.header_nav_list_item {
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    line-height: 28px;
    padding: 22px 35px;
    border-left: white solid 0.5px;

}

.header_nav_list_item_last {
    border-right: white solid 0.5px;
}

.header_nav_list_item_link {
    color: white;
}

.header_nav_list_item:hover {
    background-color: #222F3A;
}

/* .line {
    transform: rotate(90deg);
    width: 72.5px;
    margin: -37px;
    height: 0.5px;
    background-color: white;
    border: none;
} */

.aside_main{
    display: flex;
    flex-direction: row;
}

.aside{
    height: 883px;
    width: 344;
    display: inline-block;
}

.aside_nav_list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 340px;
    height: 395px;
    border: 1px solid #000000;
    margin: 48px 52px 0 0;
    display: inline-block;
}

.aside_nav_list_item {
    font-family: 'Roboto', sans-serif;
    line-height: 27px;
    font-size: 27px;
    color: #495863;
    padding: 26px 0 26px 44px;

}

.aside_nav_list_item_link {
    color: #495863;
}

.aside_nav_list_item:hover {
    background-color: #DBDBDB;
    padding-left: 75px;
}

.aside_nav_list_item_link:hover {
    /* margin-left: 35px; */
    color: #000000;
}

.main_image_container {
    width: 882px;
    height: 529px;
    margin-top: 48px;
    border: 1px solid black;
    
}

.main_image_container_img {
    width: 300px;
    height: 380px;
    padding: 75px 286px 73px 297px;
    padding-bottom: 0;
    padding-right: 0;
    transition: transform 0.35s;
}

.main_image_container_img:hover {
    transform: scale(1.2);
}

.main_text {
    width: 885px;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    line-height: 24px;
    margin-top: 34px;
    color: #2C2C2C;
}

.footer {
    margin: 54px 0 0 0;
    background-color: rgba(99, 105, 110, 0.48);
    display: flex;
    justify-content: space-between;
    width: 1280px;
}

.footer_nav {
    display: flex;
    align-items: center;
    width: 915px;
}

.footer_nav_list {
    display: flex;
    justify-content: space-between;
    margin-left: 40px;
    width: 875px;
}

.footer_nav_list_item {
    font-family: 'Roboto', sans-serif;
    font-size: 28px;
    line-height: 28px;
    padding: 20px 10px;
}

.footer_nav_list_item_first {
    padding-left: 0;
}

.footer_nav_list_item_second {
    padding-right: 0;
}

.footer_nav_list_item_link {
    color: #0C1927;
}

.footer_nav_list_item_link:hover {
    color: #3181A6;
    padding-bottom: 7px;
    border-bottom: 1px solid #3181A6;
}

.footer_copyright {
    display: flex;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    line-height: 24px;
    margin-right: 40px;
    width: 190px;
    height: 69px;
    color: #010101;
}
